{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-home">
        <p class="welcome-title">Witaj w BOOKShelf!</p>
        <p class="welcome-text">Naciśnij <span>Przeglądaj</span>, żeby przejrzeć wszystkie pozycje.</p>
    </section>
{% endblock %}
