<header>
    <nav class="navbar">
        <div class="container">
          <h1 class="title"><span>Book</span>Shelf</h1>
          <a class="btn btn-view float-right" href={{ path('book_index') }}>Przeglądaj</a>
        </div>
    </nav>
</header>
