<form method="post" action={{ path('book_delete', {id: book.id}) }} class="form-delete">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-delete btn-small">Usuń</button>
</form>