$color-bg: #f7fff7;
$color-primary: #292f36;
$color-secondary: #4ecdc4;
$color-secondary-hover: #42A8A1;
$color-ternary: #256eff;
$color-shadow: rgba(0,0,0,0.2);
$color-create: #9d8df1;
$color-create-hover: #725AEE;
$color-delete: #fbb13c;
$color-delete-hover: #DB8F17;
$color-edit: #9bbafe;
$color-edit-hover: #7D9ADB;
$font-title: 'Amatic SC', cursive;
$radius: 8px;
